# Auto detect text files and perform LF normalization
* text=auto

# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text
.gitignore text
*.md text


# Check for whitespace errors
* whitespace=tab-in-indent,tabwidth=2

.gitattributes export-ignore
.gitignore export-ignore


# Source files
# ============
*.pxd		text
*.py 		text
*.py3 		text
*.pyw 		text
*.pyx  		text

# Binary files
# ============
*.db		binary
*.p 		binary
*.pkl 		binary
*.pyc 		binary
*.pyd		binary
*.pyo 		binary
*.tfrecord  binary
